.irs-bar-edge,
.irs-line-right,
.irs-line {
  border-radius: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.navbar,
.tab-content {
  padding-left: 15px;
  padding-right: 15px;
}

#tryExamples {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
}

#mapButton {
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

form.well {
  position: relative;
}

#uploadSuccess {
  margin-bottom: 10px;
}

/*.manual-sidebar {
  display: inline-block;
}*/

/*#uploadedDataTable table td:nth-child(1),
#uploadedDataTable table th:nth-child(1) {
  background-color: rgb(23, 202, 233);
}*/
